<title>My Blogs</title>

<body>
<div class="edit_blog_wrapper">
<header class="header">
<h2 class="viewheader">LIST OF MY BLOGS</h2>
</header>
<div id="backG">
<% @blogs.each do |t| %>
<div class="uline"><a class="viewblogslinks" href='/blogs/<%= t.id %>/<%= t.title %>/edit/<%= t.category%>/<%= t.content%>'><%= t.title %></a></div>
<% end %>
</div>
</div>
</body>